KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
REDIS_URL=
RESEND_API_KEY=
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_EMAIL_ADRESS=
NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_PHONE_NUMBER=
NEXT_PUBLIC_ADRESS=
NEXT_PUBLIC_CONVEX_URL=
# yeah this dont make sense lol
NEXT_PUBLIC_ALLOW_SUBMISSIONS=
NEXT_PUBLIC_SUBMISSION_TEXT=
NEXT_PUBLIC_SUBMISSION_TEXT_DE=
NEXT_PUBLIC_SUBMISSION_TEXT_ZH=
NEXT_PUBLIC_SUBMISSION_TEXT_FR=
ALLOW_SUBMISSIONS=
CLERK_JWT_ISSUER_DOMAIN=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=